* {
margin: 0;
padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
background-color: #141414;
font-family: "Helvetica Neune", Helvetica, Arial, sans-serif;
color: white;
min-height: 200vh;
}




/* ---- NAVBAR ----*/

.navbar {
position: sticky;
top: 0;
display: flex;
padding: 0 4%;
min-height: 68px;
justify-content: column;
align-items: center;
z-index: 2;
background-image: linear-gradient(to bottom, black 0%, black 50%, rgba(0,0,0, .5)  85% , transparent 100% );
}

#logo {
    width: 200px;
    padding-top: 40px;
}
 
.navbar_logo {
display: flex;
align-items: flex-end;
}

.navbar_logo > img {
height: 30px;

}

.navbar_browse {
flex: 1 0 auto;
margin-left: 32px;
}

.navbar_browse > ul {
list-style: none;
}

.navbar_browse > ul > li {
display: inline;
margin-left: 16px;

}

.navbar_browse > ul > li:first-child {
margin-left: 0;
}

.navbar_browse > ul > li > a:hover {
color: gray;
font-size: 22px;
}


.navbar_browse > ul > li > a {
text-decoration: none;
transition: all 200ms ease-in;
color: inherit;
}

.navbar_menu {
display: flex;
align-items: center;
}

.navbar_menu > img {
    margin-right: 16px;
    cursor: pointer;
}
.navbar-selected { 
font-weight: bold; 
}

.navbar_menu > img:last-child {
    margin-right: 0;
}

section {
    display: flex;
    width: 1200;
    height: 430px;
    }
    
    section img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
        margin: 5px;
    }
    
    section img:hover {
        cursor:crosshair;
        width:  300px;
        height: auto;
        opacity: 1;
        filter: contrast(120%);
    }
    
    .vid {
        display: flex;
        width: 100%;
        height: 700px;  
    }
    
    .vid video {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease; 
        margin: 3px; 

    }
    
    .vid video:hover {
        cursor: crosshair;
        width: 400px;
        height: 700px;
        opacity: 1;
        border: 10px solid rgb(216, 6, 216);
        
    }

    section .navigation img:hover{
        transform: scale(1.2);
            transform-origin: center;
        }
        
        
        
        
      
        
        
        
        
        section .navigation li{
            list-style: none;
            cursor: pointer;
            margin: 0 10px;
            border-radius: 4px;
            padding: 3px 3px 0;
            opacity: 0.7;
        }
        section .navigation li img:hover{
            opacity: 1;
        }
        
        section .navigation li img{
            width: 120px;
            transition: 0.5;
        }
        
        section .navigation ul li p{
            position: center;
        }

footer {
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: var(--primary);
        padding: 10px 0px;
        font-size: 30px;
        margin-block: 10px;    
    }
    
    footer img {
        display: flex;
        align-items: center;
        width:30px;
        margin-left:10px;
        cursor: pointer;
    }





/* NAVBAR MOBILE */
.navbar_menu_mobile {
    display: none;
}

.header {
    position: relative;
    margin-top: -60px;
    height: 90vh;
    width: 100%;
}

.header > video {
    height: 100%;
    width: 80%;
    margin-left: 250px;
    object-fit:fill;
    opacity: 0.65;

}




.header_informacion {
    position: absolute;
    top: 5%;
    transform: translate(o, 50%);
    padding-left: 30px;
    background-image: linear-gradient(to right, black 0%, black 50%, rgba(0,0,0, .5)  85% , transparent 100% );
    width: 500px;
    height: 530px;
}


.header_informacion >  {
    margin-top: 400px;
}

.header_informacion_type {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.header_informacion_type > h2 {
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 8px;
}

.header_informacion_text > h1 {
    font-size: 30px;
    width: 30vw;
    line-height: 35px;
    height: auto;
}

.header_informacion_text{
    margin-top: 10px;





}

.header_informacion_actions {
    display: flex;
    margin-top: 70px;
}

.header_informacion_actions > button {
    margin-left: 16px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
    padding: 4px 36px;
    transition: opacity 400ms ease-in;
}

.header_informacion_actions > button > img {
    margin-left: 2px;
}
    

.header_informacion_actions > button:first-child {  
    margin-left: 0;
}


.header_informacion_actions > button:last-child {
    background-color: rgba(109, 109, 110,0.7);
    color: white;
}

.header_informacion_actions > button:hover {
    color: red;
    opacity: 0.5;
    
}
.header_informacion_actions > button  a{
    text-decoration: none;
    color: rgb(27, 26, 26);
}
#verde {
    color: green;  
}
#año {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#logo {
    width: 200px;
}
#titulo {
    font-family: 'Arial Narrow Bold', sans-serif;
    color: darkgray;
}

/* MAIN SECTION*/

.main {
    position: relative;
    margin-top: -30vh;
    background: linear-gradient(to bottom, trasparente 6vh,#141414 20vh) ;
}

.main_section_carousel {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    
}

.main_section_carousel::-webkit-scrollbar {
    display: none;
}

.main_section_carousel_card {
    margin-left: 4px;
    position: relative;
    width: 100%;
    height: 100%;


}
.main_section_carousel_card > img {
    width: 180px;
    height: 250px;
    opacity: .5;
    transition: .5s ease; 
}
.main_section_carousel_card:first-child {
    padding-left: 5px;
}



.main_section_carousel_card img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transform-origin: center;
    opacity: 1;
}

.list-content {
    /* border: 1px solid red; */
    white-space: nowrap;
    overflow-x: auto;
}


.list-item {
    display: inline-block;
    margin-left: 10px;
}
.list-item:first-child {
    margin: 0;
}

.list {
    /* border: 1px solid green; */
    padding: 0 1em;
}




/* MEDIA QUERIES*/

@media only screen and (max-width: 768px) {
    .navbar_logo {
        flex: 1 0 auto;
    }




.navbar_menu_mobile {
    display: block;
    position: relative;
}
 





.navbar_menu_list {
    display: none;
position: absolute;
padding-top: 8px;
}
.navbar_menu_list {
    padding: 8px 4px;
}

.navbar_menu_list > img {
    width: 34px;
    height: auto;
    color: blue;
}


}

@media only screen and (max-width: 500px){
        .vid {
            display: flex;
            width: 100%;
            height: 300px;  
        }
        
        .vid video {
            width: 0px;
            flex-grow: 1;
            object-fit: cover;
            opacity: .8;
            transition: .5s ease; 
            margin: 3px; 
    
        }
        
        .vid video:hover {
            cursor: crosshair;
            width: 200px;
            height: 300px;
            opacity: 1;
            filter: contrast(100%);
            border: 10px solid white;
            
        } 

        .header_informacion {
            position: absolute;
            top: 5%;
            transform: translate(o, 50%);
            padding-left: 10px;
            background-image: linear-gradient(to right, black 0%, black 50%, rgba(0,0,0, .5) 85% , transparent 100% );
            width: 200px;
            height: 0px;
        }

        .header > video {
            height: 100%;
            width: 100%;
            margin-left: -20px;
            object-fit:fill;
            opacity: 0.68;
            background-image: linear-gradient(to right, black 0%, black 50%, rgba(0, 0, 0, 0.5)  85% ,transparent 100% );
        }


	.header_informacion_actions {
    display: flex;
    margin-top: -90px;
}
        .header_informacion_actions button{
            margin-top: 120px;
            margin-left: 16px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            border-radius: 4px;
            font-size: 10px;
            font-weight: bold;
            outline: 0;
            cursor: pointer;
            padding: 4px 36px;
            transition: opacity 400ms ease-in;
        }

	.main {
    position: relative;
    margin-top: -15vh;

        }
	#titulo{ 
	font-size: 15px;
}



	
        #logo {
            width: 100px;
            margin-left: -10px;
            margin-top: 50px;
        }

        footer{ 
            display: flex;
            justify-content:center;
            align-items: center;
            padding: 10px 0px;
            font-size: 15px;
            margin-top: 70px;      
        }
    

    @media only screen and (max-width: 370px){

        .header_informacion-text  {
            margin-top: 10px;
        }

        .header_informacion {
            position: absolute;
            top: 5%;
            transform: translate(o, 50%);
            padding-left: 10px;
            background-image: linear-gradient(to right, black 0%, black 50%, rgba(0,0,0, .5) 85% , transparent 100% );
            width: 200px;
            height: 0px;
        }

        #K{
            display: none;


        }

        .header_informacion_actions {
            display: flex;
            margin-top: 170px;
        }
   
    .header_informacion_actions  button {

        margin-top: 170px;
        margin-left: 16px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        outline: 0;
        cursor: pointer;
        padding: 4px 36px;
        transition: opacity 400ms ease-in;
    }
    .header_informacion_actions > button  a{
        text-decoration: none;
}
.vid {
    display: flex;
    width: 100%;
    height: 400px;

}
.vid video:hover {
height: 400px;

}

.list-content {
    /* border: 1px solid red; */
    white-space: nowrap;
    overflow-x: auto;
    height: 300px;
}

.header_informacion > * {
    margin-top: 70px;
    font-size: 9px;
}
.header_informacion_text {
  display: none;
}
#verde {
    color: green;  
    margin-bottom: 90px;
    font-size: 15px;
}
#año {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 100px;
}


#logo {
    width: 200px;
}
#titulo {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}
footer{ 
	display: flex;
   	justify-content:center;
    	align-items: center;
  
    	padding: 10px 0px;
    	font-size: 15px;
      margin-top: 70px;      
}

footer img {
   display: flex;
   align-items: center;
	width:15px;
	margin-left:5px;
   cursor: pointer;
}







    }

